<div class="row mb-4">
  <div class="col-md-6 offset-md-3">
  
    <div class="list-group">

      <%= link_to "#{giraffe.username}", user_path(giraffe.username), class: "list-group-item list-group-item-action active", aria_current: "true" %>

    </div>
  
  </div>
</div>